<span class="psl">
    <p>{{trait}}</p>
    {{#if traitValue}}<p>{{traitValue}}</p>{{/if}}
    {{#if reqInput}}
        {{> component_input
            class=class
            type=type
            placeholder=plchldr
            required="true"}}
    {{/if}}
</span>
