.button {
    all: unset;
    width: fit-content;
    height: fit-content;
}
._primary, ._secondary, ._fatal-primary {
    color: var(--complementary-text-color);
    text-shadow: 0 0 2vh var(--theme-main-color);
    text-transform: capitalize;
    text-align: center;
    font-weight: 400;
    font-size: medium;
    text-shadow: none;
    height: 5vh;
    width: 80%;
    border-radius: 1.3vh;
    transition: .5s;
}
._primary {
    background: var(--theme-main-color);
}
._c2-primary {
    color: var(--theme-main-color);
}
._secondary {
    color: var(--primary-text-color);
    text-transform: capitalize;
    margin-left: .5vh;
    padding-right: .5vh;
    transition: var(--theme-transition);
    border: solid var(--border-thickness) var(--primary-text-color);
}
._secondary:hover {
    background: var(--theme-main-color-01);
    color: var(--theme-complementary-color);
    border-color: var(--theme-complementary-color);
}
._tetriary { transition: var(--theme-transition) }
._tetriary:hover {
    color: var(--theme-complementary-color);
}
._fatal-primary {
    background: var(--color-fatal);
}
._fatal-secondary {
    color: var(--color-fatal);
}
._send {
    width: 2vh;
    height: 2vh;
    background: var(--theme-main-color);
    padding: .8vh;
    border-radius: 5vh;
}
