button {
    all: unset;
    width: fit-content;
    height: fit-content;
}
.u-primary, .u-secondary, .u-fatal-primary {
    color: var(--complementary-text-color);
    text-transform: capitalize;
    text-align: center;
    font-weight: 400;
    text-shadow: none;
    height: 5vh;
    width: 80%;
    border-radius: 1.3vh;
    transition: .5s;
}
.u-primary {
    background: var(--theme-main-color);
    transition: var(--theme-transition);
}
.u-primary:hover {
    background: var(--theme-main-color-darker);
}
.u-c2-primary {
    color: var(--theme-main-color);
}
.u-secondary {
    color: var(--primary-text-color);
    text-transform: capitalize;
    margin-left: .5vh;
    padding-right: .5vh;
    transition: var(--theme-transition);
    border: solid var(--border-thickness) var(--primary-text-color);
}
.u-secondary:hover, .button.u-secondary.small:hover {
    background: var(--theme-main-color-01);
    color: var(--theme-complementary-color);
    border-color: var(--theme-complementary-color);
}
.u-tetriary, .u-tetriary-nt { 
    color: var(--primary-text-color);
    transition: var(--theme-transition);
}
.u-tetriary:hover {
    color: var(--theme-complementary-color);
}
.u-fatal-primary {
    width: 100%;
    background: var(--color-fatal);
    border-radius: .8vh;
    transition: var(--theme-transition);
}
.u-fatal-primary:hover {
    background: var(--color-fatal-darker);
}
.u-fatal-secondary {
    color: var(--color-fatal);
}
.u-send {
    width: 2vh;
    height: 2vh;
    background: var(--theme-main-color);
    padding: .8vh;
    border-radius: 5vh;
}

.button.small {
    width: fit-content;
    height: 3.4vh;
    border-radius: 2vh;
    padding: 0 1vw;
}
.button.u-secondary.small {
    border-color: var(--secondary-text-color);
}

.button.u-secondary.small.complex {
    height: fit-content;
    font-size: smaller;
    border-color: var(--lightgray);
    padding: .4vh 1vw .6vh 1vw;

    box-shadow: 0 0 2vh lightgray;
}
.button.u-secondary.small.complex:hover {
    background: var(--lightergray);
    color: unset;
}
