#error-image {
    position: fixed;
    width: 50%;
    height: auto;
    filter: invert(100%) drop-shadow(0 0 3vh orange);
    mix-blend-mode: difference;
    z-index: var(--z-i-lvl-1);
}
.error-title {
    position: absolute;
    top: -8%;
    color: var(--primary-text-color);
    font-size: 90vh;
    font-weight: 900;
    text-shadow: 0 0 5vh var(--primary-text-color);
    z-index: var(--z-i-ground);
}
