#error-image {
    width: 50%;
    height: auto;
    filter: invert(100%) drop-shadow(0 0 3vh orange);
    mix-blend-mode: difference;
    z-index: 1;
}
#error-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error-title {
    position: absolute;
    top: -8%;
    left: auto;
    color: black;
    font-size: 90vh;
    font-weight: 900;
    text-shadow: 0 0 5vh black;
    z-index: 0;
}
