.chatapp-container {
    box-sizing: border-box;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    background: var(--theme);
}
.sidebar {
    box-sizing: border-box;
    width: 25%;
    height: inherit;
    background: var(--lightergray);
    border-right: solid var(--border-thickness) var(--lightgray);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    mask-image: linear-gradient(to top, transparent 0%, black 15%);
}
.explore button img, #search {
    transition: var(--theme-transition);
}
.explore {
    --blur: blur(10px);

    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    height: 8vh;
    padding: 3vh 1vw 4vh;
    backdrop-filter: var(--blur);
    mask-image: linear-gradient(to top, transparent 0%, black 27%);
    z-index: 1;
}
.explore button img {
    --size: 1.2vh;

    width: var(--size);
    height: var(--size);
}
.explore button:hover > img {
    filter: var(--theme-sub1-color-filter);
}
#search-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4vh;
    border-radius: .8vh;
    background: var(--lightgray);;
}
#search-container .input-wrapper {
    width: 90%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
#search {
    width: 4vw;
    height: inherit;
    text-align: center;
}
#search-container img {
    --size: 1.5vh;

    width: var(--size);
    height: var(--size);
    filter: invert(60%);
}
#search:focus {
    width: 100%;
    text-align: left;
    margin-left: 2.5%;
}
.chat-list {
    box-sizing: border-box;
    height: 100%;
    margin-top: -13.5vh;
    padding-top: 13.5vh;
    padding-bottom: 32%;
    overflow: auto;
}
.chat-list::-webkit-scrollbar { display: none; }
.chat {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
    color: var(--primary-text-color);
}
.chat-header, .prompt {
    --blur: blur(50px);

    position: absolute;
    box-sizing: border-box;
    width: 80vw;
    right: 0;
    padding: 1.3vh 2%;
    background: rgb(255 255 255 / 19.2%);
    backdrop-filter: var(--blur);
}
.chat-header {
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    z-index: 10;
}
.chat-header span {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    gap: .7vw;
}
.chat-header span h3 {
    font-weight: 500;
}
.u-chat-recipient {
    --size: 5vh;

    min-width: var(--size);
    min-height: var(--size);
    background: lightgray;
    border-radius: 50%;
}
.action-for-recipient {
    position: relative;
    display: inline-block;
}
.u-action-to-recipient {
    padding: .4vh;
    filter: var(--theme-image-inversion);
}
.u-action-to-recipient:hover {
    filter: var(--theme-sub1-color-filter);
}
/* stylelint-disable-next-line no-descending-specificity */
.atr-choice img, .abc-choice img {
    filter: drop-shadow(0 0 1vh var(--theme-main-color-05));
}
.atr-choice, .abc-choice {
    position: absolute;
    background: var(--complementary-text-color);
    list-style: none;
    width: 12vw;
    margin: 0 2vw;
    display: none;
    border-radius: .8vh;
    z-index: 10;
    box-shadow: 0 .5vh 3vh var(--theme-main-color-025);
}
.atr-choice {
    top: 8.6vh;
    right: -.7vw;
    padding: 0;
}
.atr-choice li {
    padding: 1vh 0;
    transition: .2s;
    display: flex;
    align-items: center;
    color: #000;
}
.atr-li {
    margin: 1vh 1vw 0;
}
.u-atr-choice {
    --size: 2vh;

    width: auto;
    height: var(--size);
    margin-right: .5vw;
}
.atr-li:hover {
    background: #fff;
    border-radius: .8vh;
    padding: 1vh 1vw;
    transform: scale(1.3);
    box-shadow: 0 0 2vh lightgray;
}
.abc-choice {
    left: -.7vw;
    bottom: 7.6vh;
    padding: 1vh 1vw;
}
.abc-choice li {
    margin: 0;
    padding: 1vh 0;
    transition: .2s;
    display: flex;
    align-items: center;
    color: #000;
}
.u-abc-choice {
    --size: 2vh;

    width: var(--size);
    height: var(--size);
    margin-right: .5vw;
}
.abc-choice li:hover {
    background: #fff;
    border-radius: .8vh;
    padding: 1vh 1vw;
    transform: scale(1.3);
    box-shadow: 0 0 2vh lightgray;
}
.del-rec {
    margin: 0 .6vw;
    width: 100%;
    border-radius: .4vw;
}
.add-btn-container {
    transform: none;
    width: fit-content;
    height:100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.u-add-btn {
    --size: 3vh;

    width: var(--size);
    height: var(--size);
    filter: invert(85%);
    transform: rotate(-45deg);
}
.messages {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 8vh 2%;
    z-index: 1;
}
.messages::-webkit-scrollbar { display: none; }
.prompt {
    bottom: 0;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    z-index: 10;
}
.prompt form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* stylelint-disable-next-line no-descending-specificity */
.prompt .input-wrapper {
    box-sizing: border-box;
    width: 100%;
}
#message {
    margin: 0 2vh;
    padding: .3vh 2.5vh;
    background: var(--lightgray);
    border-radius: 2vh;
}
/* stylelint-disable-next-line no-descending-specificity */
.u-send img {
    --size: 2vh;

    width: var(--size);
    height: var(--size);
    filter: invert(100%);
    transform: translateX(.07vw);
}
