<span class="error-container">
    {{> error
        src="error.png"
        alt="Error 404: page not found"
        errorTitle="404"
        errorQuote=" "}}
    {{> component_button 
        type="tetriary"
        btype="button"
        clientAction="Back to chats"}}
</span>
