<span class="error-container">
    {{> error
        src="error.png"
        alt="Error 500: Something went wrong on our end"
        errorTitle="500"
        errorQuote="Oops! Something went wrong on our end."}}
    {{> component_button
        type="tetriary"
        btype="button"
        clientAction="Back to chats"}}
</span>
