<div class="profile">
    {{> component_button
        typeIMG=true
        type="send back-btn"
        btype="button"
        src="back.png"}}



    <div class="profile-icon-wrapper">
        {{> component_image
            class="profile-icon"
            src=""
            alt="your avatar"}}
    </div>
    <h1>user name</h1>
    <div class="paw">
        <form action="#" method="post">
            <div class="ps-lines">
                {{#each upPSLcontext}}
                    {{> profileSettingLine
                        trait=trait
                        reqInput="true"
                        class="paw-input"
                        id=profileInputIdentifier
                        name=profileInputIdentifier
                        type="text"}}
                {{/each}}
            </div>
            <div class="profile-action">
                {{> component_button
                    type="primary"
                    btype="submit"
                    clientAction="Confirm changes"}}
            </div>
        </form>
    </div>
</div>
