.profile {
    --sg: 13vh;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-icon-wrapper {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.profile-origin .profile-icon-wrapper:hover::after {
    position: absolute;
    content: 'Change avatar';
    inset: 0;
    --size: 10vh;
    --blur: blur(10px);
    width: var(--size);
    height: var(--size);
    background: rgb(255,255,255,.3);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    border-radius: 50%;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--theme-main-color);
    z-index: 10;
}
._profile-icon {
    z-index: 0;
}
.profile h1 {
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: x-large;
    text-transform: capitalize;
    margin: 3vh 0 var(--sg) 0;
}
.profile-action {
    margin-top: var(--sg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
.profile ._send.back-btn {
    top: 50%;
    transform: translateY(-50%);
    left: 5vw;
}
.profile .paw-input {
    text-align: right;
}
.profile .paw-input::placeholder {
    color: var(--secondary-text-color);
}
.profile ._primary {
    width: 50%;
}
