.form, .header, .input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    --blur: 15px;

    box-sizing: border-box;
    height: fit-content;
    width: 40vh;
    min-height: 55vh;
    border: solid .2vh var(--theme-main-color);
    border-radius: var(--wrappers-rad);
    padding-top: 4vh;
    backdrop-filter: blur(var(--blur));
}

.header {
    width: 100%;
    height: fit-content;
}

.form-title {
    width: var(--form-header-width);
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to top, var(--theme-main-color), var(--theme-complementary-color) 55%);
    background-clip: text;
    color: transparent;
    text-align: left;
    font-weight: 900;
    font-size: xx-large;
}

.form-switch {
    width: var(--form-header-width);
    color: var(--secondary-text-color);
    font-size: small;
    margin: .3vh 0 3vh;
}

.input-fields {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.form .u-primary {
    margin: 7vh 0 4vh;
}

.input-requirements-mismatch {
    width: var(--form-header-width);
    color: red;
    font-size: small;
    text-align: left;
    margin-top: 1%;
}
