.form, .header, .input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    --blur: 15px;
    box-sizing: border-box;
    height: fit-content;
    width: 40vh;
    min-height: 55vh;
    border: solid .2vh var(--theme-main-color);
    border-radius: 1.8vh;
    padding-top: 4vh;
    background: rgb(255,255,255,.6);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}
.header {
    width: 100%;
    height: fit-content;
}
.form-title {
    width: var(--form-header-width);
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to top, var(--theme-main-color), var(--theme-comlpementary-color) 55%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: left;
    font-weight: 900;
    font-size: xx-large;
}
.form-switch {
    width: var(--form-header-width);
    color: var(--secondary-text-color);
    margin-top: 6vh;
    font-size: small;
    margin: .3vh 0 3vh 0;
}
.input-fields {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: left;
    margin-bottom: auto;
}
.form ._primary {
    margin: 7vh 0 4vh;
}