<form class="form" method="post" novalidate>
    <div class="header">
        <h1 class="form-title">Join</h1>
        <span class="form-switch">
            <span>Part of a hub?</span> 
            {{> component_button type="secondary" btype="button" clientAction="Access It"}}
        </span>
    </div>
    <div class="input-fields">
        {{> component_input
            class="form-input"
            id="email"
            label="Email"
            type="email" 
            name="email" 
            required="true"
            mismatchObject="input-requirements-mismatch email"
        }}
        {{> component_input
            class="form-input"
            id="login"
            label="Username"
            type="text" 
            name="login" 
            mismatchObject="input-requirements-mismatch login"
        }}
        {{> component_input
            class="form-input"
            id="first_name"
            label="Name"
            type="text" 
            name="first_name"
            required="true"
            mismatchObject="input-requirements-mismatch first_name"
        }}
        {{> component_input
            class="form-input"
            id="second_name"
            label="Surname"
            type="text" 
            name="second_name"
            required="true"
            mismatchObject="input-requirements-mismatch second_name"
        }}
        {{> component_input
            class="form-input"
            id="phone"
            label="Phone"
            type="tel"
            name="phone"
            required="true" 
            mismatchObject="input-requirements-mismatch phone"
        }}
        {{> component_input
            class="form-input"
            id="password"
            label="Password"
            type="password" 
            name="password" 
            required="true"
            mismatchObject="input-requirements-mismatch password"
        }}
        {{> component_input
            class="form-input"
            id="password-rep"
            label="Password (again)"
            type="password" 
            name="password-rep" 
            required="true"
            mismatchObject="input-requirements-mismatch password-rep"
        }}
    </div>
    {{> component_button 
        type="primary"
        btype="submit" 
        clientAction="Get Started" 
    }}
</form>
