.on-hover {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}
.on-hover:hover {
    background: conic-gradient(from -90deg, transparent 0%, var(--theme-main-color-01) , transparent 100%);
}
.selected-card {
    background: conic-gradient(from -90deg, transparent 0%, var(--theme-main-color-025) , transparent 100%);
}
.chat-card.selected-card:hover {
    background: conic-gradient(from -90deg, transparent 0%, var(--theme-main-color-025) , transparent 100%);
}
.chat-card {
    --borderOffset: 10%;
    --borderOffset1: 90%;

    max-width: 100%;
    height: 9.68vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.34vh 1vw;
    border-top: solid var(--border-thickness);
    border-image: linear-gradient(to right, transparent , lightgray var(--borderOffset) var(--borderOffset1), transparent ) 1;
    justify-content: space-between;
}
.u-chat-list-recipient {
    --size: 5vh;
    
    box-sizing: border-box;
    min-width: var(--size);
    min-height: var(--size);
    padding: 1vh;
    border-radius: 30%;

    /* can be deleted when actual image insertion is released */
    background: lightgray;
}
.chat-info {
    width: 100%;
    height: fit-content;
    max-height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-overflow: ellipsis;
    margin: 0 1vh;
}
.chat-info h3 {
    width: 100%;
    font-weight: 500;
    margin-bottom: .1vh;
    text-overflow: ellipsis;
}
.chat-info p {
    max-height: 100%;
    color: var(--secondary-text-color);    
    text-overflow: ellipsis;
    overflow-y: hidden;
}
.chat-info p mark {
    font-weight: 500;
    background: none;
}
.chat-last-text {
    height: 6vh;
    color: var(--secondary-text-color);
    font-size: var(--small-font-size);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}
.n-of-unread {
    min-width: 1vh;
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--theme-main-color);
    padding: .2vh .7vh;
    border-radius: 5vh;
    color: var(--complementary-text-color);
    font-size: var(--small-font-size);
}
