.app-landing {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
.u-welcome-image {
    --size: 30vh;
    width: var(--size);
    height: var(--size);
}
.app-landing .u-primary {
    min-width: 13vw;
    max-width: 13vw;
}
