<div class="dialog-wrapper">
        <div class="dialog">
            <h1>{{title}}</h1>
            {{> component_input 
                class=class
                id=id
                label=label
                type=type
                value=recipientLogin}}
            {{> component_button 
                type="primary"
                btype="submit" 
                clientAction=atr}}
        </div>
    </div>
</div>
