<ul id="temppn">
    <li><a href="#" page="login">login</a></li>
    <li><a href="#" page="signup">signup</a></li>
    <li><a href="#" page="e404">404</a></li>
    <li><a href="#" page="e5">5</a></li>
    <li><a href="#" page="chatapp">chatapp</a></li>
    <li><a href="#" page="userprofile">user profile</a></li>
    <li><a href="#" page="upediti">user profile: edit profile</a></li>
    <li><a href="#" page="uppass">user profile: change password</a></li>
</ul>