@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    font-family: 'funnel display', sans-serif;
    font-weight: 200;

    /* cursor: none; */
}
:root {
    --theme: #fff;

    --theme-main-color: blueviolet;
    --theme-main-color-075: rgb(137 43 226 / 75%);
    --theme-main-color-05: rgb(137 43 226 / 50%);
    --theme-main-color-025: rgb(137 43 226 / 25%);
    --theme-main-color-01: rgb(137 43 226 / 10%);
    --theme-main-color-darker: rgb(101, 31, 166);
    --theme-complementary-color: violet;
    
    --color-fatal: red;
    --color-fatal-darker: darkred;
    
    --primary-text-color: #000;
    --secondary-text-color: gray;
    --complementary-text-color: #fff;

    --lightgray: rgb(230 230 230);
    --lightergray: #f5f5f5;

    --regular-font-size: 15px;
    --small-font-size: small;

    --form-header-width: 77%;
    --theme-transition: .3s;
    --border-thickness: .2vh;
    --wrappers-rad: 1.8vh;
    --theme-sub1-color-filter: invert(70%) sepia(45%) saturate(1608%) hue-rotate(236deg) brightness(98%) contrast(91%);
    --theme-image-inversion: invert(0%);
}
body {
    width: 100%;
    height: 100dvh;
    background: var(--theme);
    overflow: hidden;
}
#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mouse {
    --size: 10vh;

    position: fixed;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    pointer-events: none;
    filter: drop-shadow(0 0 2vh var(--theme-main-color));
    will-change: transform;
    transform: translate3d(0,0,0);
    z-index: 9999;
}
.switch-theme {
    position: absolute;
    top: 3vh;
    right: 47.1%;
    display: flex;
    gap: 1.4vh;
    z-index: 9999;
}
.switch-theme img {
    --size: 4vh;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}
.switch-theme img.disabled {
    filter: grayscale(100%);
}
#temppn {
    background: rgb(255 255 255 / 10%);
    backdrop-filter: blur(10px);
    border: solid .2vh #fff;
    list-style: decimal;
    padding: 5vh 5vw;
    border-radius: 3vh;
}
#temppn li {
    margin: 2vh;
    color: #fff;
}
#temppn li a {
    color: var(--theme-main-color);
    text-transform: uppercase;
    text-shadow: 0 0 2vh #fff;
}
