.app-img {
    width: 2.8vh;
    height: 2.8vh;
    object-fit: cover;
    object-position: center;
}
._profile-icon {
    --size: 10vh;
    width: var(--size);
    height: var(--size);
    background: var(--lightgray);
    border-radius: 50%;
}
.back-btn {
    position: absolute;
    top: 0;
    left: 0;
}