.mbody {
    --rad: 1.4vh;

    position: relative;
    width: fit-content;
    max-width: 45%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: end;
    color: var(--primary-text-color);
    margin-bottom: .3vh;
    border-radius: var(--rad);
    transition: var(--theme-transition);
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
.mbody.u-text {
    padding: .8vh .8vw;
}
.mbody.u-image {
    position: relative;
    max-width: 35%;
    max-height: 50vh;
    border-radius: 1vh;
    overflow: hidden;
    padding: 0;
}
.mbody.u-self {
    background: var(--theme-main-color-01);
    margin-left: auto;
}
.mbody.u-toself {
    background: rgb(245 245 245);
}
.mbody p {
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.mbody.u-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    margin: 0;
}
.mbody h6 {
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translate(140%,50%);
    opacity: 0;
    width: fit-content;
    height: fit-content;
    user-select: none;
    transition: var(--theme-transition);
}
.mbody:hover {
    box-shadow: 1vw 0 2vh var(--theme-main-color-01);
}
.mbody:hover h6 {
    opacity: 1;
}
.mbody.u-toself h6 {
    left: 0;
    transform: translate(-140%,50%);
}
.mbody.u-toself:hover {
    box-shadow: -1vw 0 2vh rgb(245 245 245);
}
.mbody.u-image h6 {
    --blur: 3px;

    right: .5vh;
    bottom: .5vh;
    position: absolute;
    background: var(--theme-main-color-025);
    backdrop-filter: blur(var(--blur));
    padding: .3vh .5vw;
    border-radius: 1vh;
    color: var(--complementary-text-color);
    pointer-events: none;
}
.mbody.u-location {
    border-radius: var(--rad);
    overflow: hidden;
}
.mbody.mbody.u-location:hover, .mbody.mbody.u-location:active {
    box-shadow: 0 0 20vh var(--theme-main-color-05);
    animation: ml-pulse 2s linear infinite;
}

@keyframes ml-pulse {
    0% {box-shadow: 0 0 20vh var(--theme-main-color-05);}
    50% {box-shadow: 0 0 20vh var(--theme-main-color);}
    100% {box-shadow: 0 0 20vh var(--theme-main-color-05);}
}
.mbody iframe {
    width: 23vw;
    height: 30vh;
    border: none;
}
